# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variables
*.tfvars

# Python
__pycache__/
*.pyc
*.pyo

# Environment files
.env

# Mac files
.DS_Store

# Logs
*.log

# Docker
*.tar